<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854143854615-6kdbuca689t16s3aao6d47co7kfot4v1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854143854615-6kdbuca689t16s3aao6d47co7kfot4v1</string>
	<key>API_KEY</key>
	<string>AIzaSyDN5u49Vu3mf5_0SZoBeglDUcbbt85fbWs</string>
	<key>GCM_SENDER_ID</key>
	<string>854143854615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.herewego</string>
	<key>PROJECT_ID</key>
	<string>herewego-cf496</string>
	<key>STORAGE_BUCKET</key>
	<string>herewego-cf496.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854143854615:ios:d885fb152a0aa4a536d452</string>
</dict>
</plist>